@inject IJSRuntime js
@inject NavigationManager nav

@code {



    string Key = Guid.NewGuid().ToString();


    protected override void OnAfterRender(bool firstRender)
    {
        js.InvokeVoidAsync("showPopover", $"popover-user-profile-{Key}", $"img-prof-{Key}", DotNetObjectReference.Create(this));
    }


    [Parameter]
    public Action OnClick { get; set; } = () => { };

    /// <summary>
    /// Imagen de perfil en base64
    /// </summary>
    private static string Img64 => Convert.ToBase64String(Access.Notes.Session.Instance.Account.Profile);


    [JSInvokable("OnHide")]
    public void Hide()
    {
    }

    [JSInvokable("OnShow")]
    public void OnShow()
    {
    }

}


@* Dropdown Open *@
@if (string.IsNullOrWhiteSpace(Img64))
{
    <div id="img-prof-@Key" class="h-10 w-10 bg-gray-100 relative inline-flex items-center justify-center overflow-hidden rounded-full dark:bg-zinc-800">
        <span class="text-gray-600 text-sm dark:text-gray-300">@(Global.Utilities.Strings.GetInitials(LIN.Access.Notes.Session.Instance.Account.Name))</span>
    </div>
}
else
{
    <img id="img-prof-@Key" class="h-10 w-10 rounded-full" src="data:image/png;base64,@Img64" alt="Rounded avatar">
}


<div id="popover-user-profile-@Key" role="tooltip" class="w-64 border-gray-200 bg-white text-gray-500 invisible absolute z-10 inline-block overflow-hidden rounded-lg border text-sm opacity-0 shadow-sm transition-opacity duration-300 dark:text-gray-400 dark:bg-zinc-800 dark:border-zinc-600">

    <!-- Header -->
    <div class="border-gray-200 px-4 py-3 border-b dark:border-gray-700">
        <div class="gap-x-3 flex items-center">


            @* Dropdown Open *@
            @if (string.IsNullOrWhiteSpace(Img64))
            {
                <div id="img-prof-@Key" class="h-10 w-10 bg-zinc-200 relative inline-flex items-center justify-center overflow-hidden rounded-full border dark:bg-zinc-800 dark:border-zinc-600">
                    <span class="text-gray-600 font-medium dark:text-zinc-300">@Global.Utilities.Strings.GetInitials(LIN.Access.Notes.Session.Instance.Account.Name)</span>
                </div>
            }
            else
            {
                <button id="img-prof-@Key" type="button" class="bg-white flex rounded-full text-sm focus:ring-4 focus:ring-gray-300 dark:bg-zinc-700 dark:focus:ring-gray-600">
                    <span class="sr-only">Open</span>
                    <img class="h-9 w-9 p-1 ring-gray-400 rounded-full ring-2" src="data:image/png;base64,@Img64">
                </button>
            }


            <div class="grow">
                <h4 class="text-gray-800 font-semibold dark:text-white">
                    @LIN.Access.Notes.Session.Instance.Account?.Name

                </h4>
                <p class="-mt-1 text-gray-500 text-sm">
                    @LIN.Access.Notes.Session.Instance.Account?.Identity?.Unique
                </p>
            </div>
        </div>
    </div>
    <!-- End Header -->
    <!-- Footer -->
    <div class="bg-gray-100 px-4 py-2 flex items-center justify-between dark:bg-zinc-800">

        <button @onclick="OnClick" type="button" class="gap-x-2 border-transparent bg-red-600 px-3 py-1.5 text-white flex w-full items-center justify-center rounded-full border text-center text-sm font-medium hover:bg-red-700 disabled:opacity-50 disabled:pointer-events-none dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">
            Cerrar Sesión
        </button>
    </div>
    <!-- End Footer -->

</div>
